apiVersion: v1
kind: Secret
metadata:
  name: "cluster-api-{{ target.name }}"
  namespace: "{{ argo_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: "cluster-api-{{ target.name }}"
  server: "{{ target.api }}"
  config: |
    {
      "bearerToken": "{{ token_data.result.data.token | b64decode }}",
      "tlsClientConfig": {
        "serverName": "{{ target.api | urlsplit('hostname') }}",
        "caData": "{{ token_data.result.data['ca.crt'] }}"
      }
    }
